*pyc
.idea/
.idea/*
aviary.egg-info
build
dist
.snakemake
binsnek.egg-info
aviary_genome.egg-info

example/
test/data/.conda
test/data/wgsim.metaspades.assembly.fna.fai
config.yaml
benchmarks
data
logs

# pixi environments
.pixi
*.egg-info
