name: Test Aviary with Setup-Miniconda From Marketplace
on: [push, pull_request]

jobs:
  miniconda:
    name: Miniconda ${{ matrix.os }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
        matrix:
            python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up environment with Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: test
          environment-file: aviary.yml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
          channels: conda-forge,bioconda
          channel-priority: true
      - run: |
          conda info
          conda list
          conda config --set channel_priority strict
      - name: Install Aviary
        run: |
          pip install -e .
      - name: Run unit tests
        run: |
          aviary -h
          python test/test_assemble.py
          python test/test_recover.py
          python test/test_run_checkm.py -b
